authorized_keys
*~
\#*#
.IntelliJIdea12
.PyCharm20
.PyCharm30
.PyCharm40
.bytecoin
.cache
.clion10
.config/chromium
.kde4
.local
.macromedia
.mozilla
.thumbnails
Downloads
Vlad
envs
magic
projects
sprout
src
work
pcaps
PycharmProjects
ipsec
*.pacp
*.pcap
tmp
/.config/unity3d/Player.log
.config/spotify
.emacs.d/RFC
.elasticbeanstalk
.keychain
.java
.gnupg
.gnome
